In [19]:
!pip install pyodbc

Requirement already satisfied: pyodbc in c:\anaconda\lib\site-packages (4.0.0-unsupported)

In [107]:
import pyodbc
# ODBC Driver 17 for SQL Server not working can't know the reason
# Change to use SQL Server Native Client 11.0
conn = pyodbc.connect('Driver={SQL Server Native Client 11.0}', 
                      server='{servername}.database.windows.net', 
                      user='{name}', password='{pasw}',database='{database_name}')
cursor = conn.cursor()

In [ ]:
#select query

for row in cursor.tables():
    print(row.table_name)

In [110]:
import pandas as pd

In [125]:
order_wal_100 = pd.read_csv(r"your file path")
order_wal_all = pd.read_csv(r"your file path")

In [126]:
# There's wondering, but seems data can't not be null or empty
# So fill the NA value with '-1'

order_wal_100 = order_wal_100.drop('Unnamed: 0',axis=1)
order_wal_100 = order_wal_100.fillna(value=-1)

In [129]:
# Create table ,define the columns name and decide the variable

sql_query='''CREATE TABLE order_100 (Email_id nvarchar(MAX), customerOrderId decimal, orderDate datetime, 
chargeAmount decimal(9,2), currency varchar(10), chargeName varchar(20), chargeType varchar(20), fulfillmentOption varchar(10), 
pickUpBy varchar(50), pickUpDateTime datetime, shipMethod varchar(20), shippingProgramType int, storeId int, 
productName varchar(200), sku nvarchar(100), cancellationReason int, refund int, order_statusdate datetime,
purchaseOrderId decimal, shiptype varchar(50), postalCode int, shipping_city varchar(50), state varchar(10), shipping_country varchar(10))                    
          '''
cursor.execute(sql_query)

In [140]:
# Insert the dateframe data into the database

for index, row in order_wal_100.iterrows():
    cursor.execute('''
                INSERT INTO dbo.order_100 ([Email_id], [customerOrderId], [orderDate], [chargeAmount], 
                [currency], [chargeName], [chargeType], [fulfillmentOption], [pickUpBy], [pickUpDateTime], 
                [shipMethod], [shippingProgramType], [storeId], [productName], [sku], [cancellationReason],
                [refund], [order_statusdate], [purchaseOrderId], [shiptype], [postalCode], [shipping_city], [state], [shipping_country]) 
                values(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)''', 
                row['Email_id'], row['customerOrderId'], row['orderDate'], row['chargeAmount'], row['currency'], row['chargeName'], 
                row['chargeType'], row['fulfillmentOption'], row['pickUpBy'], row['pickUpDateTime'], row['shipMethod'], 
                row['shippingProgramType'], row['storeId'], row['productName'], row['sku'], row['cancellationReason'], row['refund'], 
                row['order_statusdate'], row['purchaseOrderId'], row['shiptype'], row['postalCode'], row['shipping_city'], row['state'], row['shipping_country']
                  )
conn.commit()

In [141]:
# Confirm the database have the file we inserted

select_query='''SELECT count(*) from {database_name}.dbo.order_100;'''
cursor.execute(select_query)
for row in cursor:
    print(row)

(100, )

In [142]:
order_wal_all = order_wal_all.drop('Unnamed: 0',axis=1)
order_wal_all = order_wal_all.fillna(value=-1)

In [144]:
sql_query='''CREATE TABLE order_all (Email_id nvarchar(MAX), customerOrderId decimal, orderDate datetime, 
chargeAmount decimal(9,2), currency varchar(10), chargeName varchar(20), chargeType varchar(20), fulfillmentOption varchar(10), 
pickUpBy varchar(50), pickUpDateTime datetime, shipMethod varchar(20), shippingProgramType int, storeId int, 
productName varchar(200), sku nvarchar(100), cancellationReason int, refund int, order_statusdate datetime,
purchaseOrderId decimal, shiptype varchar(50), postalCode int, shipping_city varchar(50), state varchar(10), shipping_country varchar(10))                     
          '''
cursor.execute(sql_query)

In [146]:
for row in order_wal_all.itertuples():
    cursor.execute('''
                INSERT INTO {database_name}.dbo.order_all (Email_id, customerOrderId, orderDate, chargeAmount, 
                currency, chargeName, chargeType, fulfillmentOption, pickUpBy, pickUpDateTime, 
                shipMethod, shippingProgramType, storeId, productName, sku, cancellationReason,
                refund, order_statusdate, purchaseOrderId, shiptype, postalCode, shipping_city, state, shipping_country) 
                values(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)''', 
                row.Email_id, row.customerOrderId, row.orderDate, row.chargeAmount, row.currency, row.chargeName, 
                row.chargeType, row.fulfillmentOption, row.pickUpBy, row.pickUpDateTime, row.shipMethod, 
                row.shippingProgramType, row.storeId, row.productName, row.sku, row.cancellationReason, row.refund, 
                row.order_statusdate, row.purchaseOrderId, row.shiptype, row.postalCode, row.shipping_city, row.state, row.shipping_country
                  )
conn.commit()

In [147]:
select_query='''SELECT count(*) from {database_name}.dbo.order_all;'''
cursor.execute(select_query)
for row in cursor:
    print(row)

(181, )